<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>znvy@sbbyf-zngr.qri</string>
	<key>contactName</key>
	<string>Fool's Mate</string>
	<key>description</key>
	<string>New shiny bundle for Astro.</string>
	<key>name</key>
	<string>astro</string>
	<key>uuid</key>
	<string>F796CF84-1716-4F7B-B79B-8A5DECCBE8E7</string>
</dict>
</plist>
